.Hero1 {
	padding: 3rem 5rem 10rem 4rem;
	/* padding: 10rem; */
	width: 100%;
	height: 350px;
	background-color: #36096d;
	background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}
.Hero-content {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.Hero-text {
	margin: 0;
	color: white;
}

.Hero-text h3 {
	margin: 0;
	font-size: 40px;
}

.Hero-text p {
	margin: 0;
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.Hero1 button {
	width: 8rem;
	color: rgb(36, 36, 230);
	background-color: white;
	padding: .5rem;
	border: none;
	border-radius: .2rem;
	margin-right: 1rem;
}