.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(240, 232, 232);
}

.nav svg {
  margin: 0 20px;
}

.profile {
  display: flex;
  width: 15%;
  padding: 1rem;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.profile p {
  padding: .3rem .8rem 0;
}